body {
    background-color: white;
    color: black;
    text-align: center;
}

.quotes {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

h1 {
    font-family: 'Lobster', cursive;
}

.search {
    font-weight: bold;
}

.search form {
    margin-bottom: 20px;
}