body{
    background-color: black !important;
    color: white;
}

nav ul{
    list-style-type: none; /* removes dots infront of a list*/
}

nav li{
    float: left; /* makes the list elements line vertically */
}

nav li a{
    text-decoration: none; /* removes underline */
    color: white; /* makes the text white instead of the default link color blue */
    display: block;
}